@charset "utf-8";
@font-face {
    font-family: 'BellGothicStd-Light';
    src: url('bellgothicstdlight.eot');
    src: url('bellgothicstdlight.eot?#iefix') format('embedded-opentype'),
        url('bellgothicstdlight.woff') format('woff'),
        url('bellgothicstdlight.ttf') format('truetype'),
        url('bellgothicstdlight.svg#bellgothicstdlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family:'BellGothicStd-Light', Arial;
    font-size: 14px;
    font-weight: bold;
    color: #555555;
    direction:rtl;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/body_bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;

}
.inner_body {
    background-image: url(../images/inner_body_bg.png);
    background-repeat: repeat-x;
    background-position: center top;
    background-color: #f5f5f5;
}
div#wrapper {
    width: 984px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    float: left;
    width: 142px;
    margin-top: 14px;
}
.menu {
    float:left;
    width:615px;
    margin-left:25px;
    margin-top:10px;
}

.home_acitve {
    width: 55px;
    height:25px;
    display:block;
    float:left;
    background-image: url(../images/menu_bg.png);
    background-repeat: no-repeat;
    background-position: left -61px;
}
.input_search_area {
    float: right;
    width: 196px;
    margin-top: 62px;
}
.input_search_space {
    float: left;
    width: 164px;
}
.input_search_bg {
    background-image: url(../images/en_input_search_bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    height: 30px;
    width: 154px;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: none;
    background-color:transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    padding-left: 10px;
    float: left;
    text-align: left;
    outline: 0;
    outline-style:none;
    outline-width:0;
}

.input_search_bg:blur{
    border:none
}
.btn_search {
    float: right;
    width: 29px;
}
.main_banner {
    background-image: url(../images/main_banner_bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    float: right;
    height: 382px;
    width: 984px;
    margin-top: 11px;
}
.main_banner_text {
    float: right;
    width: 295px;
    margin-top: 33px;
    margin-right: 30px;
}
.banner_text_heading {
    float: right;
    width: 295px;
    font-size: 28px;
    color: #1b75a0;
    text-align: left;
}
.banner_lower_text {
    font-size: 16px;
    color: #555555;
    float: right;
    width: 295px;
    text-align: left;
}
.main_banner_area {
    float: left;
    height: 313px;
    width: 621px;
    margin-top: 17px;
    margin-left: 14px;
}
.home_mid_content {
    background-image: url(../images/home_mid_content.jpg);
    background-repeat: repeat-x;
    background-position: right top;
    height: 362px;
    width: 100%;
    position:absolute;
    top:500px;
    z-index:-1;
}
.home_mid_section {
    float: right;
    width: 984px;
}
.home_mid_box {
    float: left;
    width: 328px;
    background-image: url(../images/mid_box_separator.png);
    background-repeat: repeat-y;
    background-position: left top;
    padding-bottom:10px;
    margin-top:10px;
}
.mid_box_img {
    float: right;
    width: 328px;
    text-align:center;
}
.mid_tag {
    color: #126F9C;
    float: left;
    font-size: 24px;
    height: 31px;
    margin-left: 10px;
    padding-top: 17px;
    text-align: left;
    width: 310px;
}
.mid_box_text {
    width: 290px;
    margin-top: 3px;
    float: left;
    font-size: 14px;
    color: #555555;
    text-align: left;
    margin-left: 10px;
}
.mid_box_text a {
    color:#1b75a0;
    text-decoration:none;
    background-image: url(../images/en_bullet_link.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left:10px;
}.home_bottom_section {
    float: right;
    width: 984px;
    margin-top: 60px;
}
.news_section {
    float: left;
    width: 620px;
    text-align: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #aaa9a0;
}
.latest_news_heading {
    float: left;
    width: 620px;
    text-align: left;
    font-size: 31px;
    color: #1b75a0;
    margin-bottom: 20px;
}
.news_item1 {
    float: left;
    width: 600px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #b5b5b5;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.news_section a, a {
    color:#1b75a0;
    text-decoration:underline;
}
.testimonials_section {
    float: right;
    width: 320px;
}
.testimonials_heading {
    float: left;
    width: 320px;
    text-align: left;
    font-size: 26px;
    color: #1b75a0;
    margin-bottom: 20px;
}
.testimonials_text {
    text-align: left;
    float: left;
    width: 320px;
}.footer {
    background-color: #575958;
    float: right;
    width: 100%;
    height: 72px;
    margin-top: 20px;
    color: #cdcecd;
    font-size: 14px;
}
.footer_wrapper {
    width: 984px;
    margin-left: auto;
    margin-right: auto;
}
.footer_right {
    float: left;
    width: auto;
    margin-top: 20px;
}

.footer_right a {
    color: #B4B5B4;
}
.footer_left {
    text-align: right;
    float: right;
    width: auto;
    margin-top: 12px;
}
.inner_content {
    float: right;
    width: 984px;
    margin-top:50px;
}
.inner_content_left {
    text-align: left;
    float: left;
    width: 670px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dededb;
    padding-bottom: 50px;
}

.inner_content_right {
    text-align: left;
    float: left;
    width: 670px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dededb;
    padding-bottom: 50px;
}
.inner_content_top_heading {
    float: left;
    width: 650px;
    text-align: left;
}
.inner_main_heading {
    font-size: 31px;
    color: #1b75a0;
}
.our_classes1 {
    float: left;
    width: 650px;
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #b0b0b0;
    text-align: left;
}
.heading_our_classes {
    font-size: 18px;
    color: #1b75a0;
}

.inner_left {
    float: right;
    width: 285px;
}
.inner_right {
    float: right;
    width: 285px;
}
.inner_testimonials_area {
    float: right;
    width: 285px;
    background-image: url(../images/en_inner_testimonials_bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #b0b0b0;
    padding-bottom: 25px;
}
.inner_testimonials_text {
    float: right;
    width: 235px;
    margin-right: 45px;
    margin-top: 165px;
    text-align: left;
}
.link_inner_testimonials {
    float: left;
    width: 260px;
    margin-top: 30px;
    background-image: url(../images/en_bullet_link.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 10px;
    color: #1b75a0;
    text-align: left;
}
.inner_newsletter_area {
    float: right;
    width: 285px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #b0b0b0;
    padding-bottom: 25px;
}.inner_newsletter_heading {
    float: left;
    width: 285px;
    font-size: 24px;
    color: #1b75a0;
    margin-bottom: 10px;
    text-align: left;
}
.inner_newsletter_field {
    float: left;
    width: 285px;
    text-align: left;
    font-size: 11px;
}
/*ttttt*/
.contact_input{width:305px; height:29px;}
.menu ul{margin:0;padding:0;}
.menu ul li{padding:0;margin:0; list-style:none;float: left;}
.menu ul li a{
    /*width: 105px;*/
    height:24px;
    display:block;
    float:left;
    color:#555555;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Tahoma';
    margin-left:28px;
    border-bottom:1px dashed #CCCCCC;
    text-decoration:none;
    text-transform: uppercase;
}

.menu ul li a:hover
{  	
    border-bottom:2px solid #CCCCCC;
    color:#8DC2DE;
    text-decoration:none;

}
.menu ul li a:active
{  	
    border-bottom:2px solid #CCCCCC;
    color:#8DC2DE;
    text-decoration:none;
}
.mapp-directions{display: none!important;}
.mapp-layout{border:none!important;}
.contact_textarea{width:630px;}
.contact_submitBtn{width:71px;height:30px;}
.footer_left a{color:#B4B5B4;}
.widget_qtranslate{width:250px;float: left; margin-left: 28px; margin-top: 5px;}

.testi_speech{
    float: left;
    margin-bottom:15px;
}

.testi_speaker{
    float: left;
    margin-bottom:25px;
}

.news_item1 span, .news_item1 a{
    float: left;
}

.news_item1 h2{
    float:left;
    font-size: 12px;
    width:100%;
}

.widget_wysija_cont form p, .widget_wysija_cont form p input, .widget_wysija_cont .wysija-submit{
    float: left;
    text-align: left;
}

.widget_wysija_cont form p{
    width:100%;
    margin:0px;
}

.widget_wysija_cont .wysija-submit{
    margin-top:10px !important;
}

#form-wysija-2-wysija-to{
    width:270px;
}

.wysija-submit-field, .contact_submitBtn{
    background-image: url("../images/en_bullet_link.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #1B75A0;
    float: left;
    padding-left:10px;
    text-align: left;
    width: 260px;
    border:none;
    background-color: transparent;
    margin-top:0px !important;
    cursor: pointer;
}

.wpcf7-form .error{
    color:#1B75A0;
    font-weight: bold;
}

.search_btn{
    background-image: url("../images/en_btn_search.png");
    background-position: right center;
    background-repeat: no-repeat;
    width:29px;
    height:30px;
    float: left;
    border:none;
    cursor: pointer;
    
}

.fullRow{
    width:100%;
    float: left;
}
ul.qtrans_language_chooser li{
    margin:0px 1px;
    background-color: #e8e8e8;
}

ul.qtrans_language_chooser li.lang-en a, ul.qtrans_language_chooser li.lang-ar a{
    text-transform: capitalize !important;
    border:none;
    font-size: 12px;
    text-align: center;
    margin:5px 10px 0px 10px;
}
ul.qtrans_language_chooser li.active a{
    color:#1B75A0;
    font-weight: bold;
}

a.std_saying{
    text-decoration: none;
}
a.std_saying:hover{
    text-decoration: underline;
}

.navigation_pagination{
    width:100%;
    float:left;
    margin-top: 5px;
}
.wp-pagenavi .pages{
    display: none;
}

.wp-pagenavi span, .wp-pagenavi a{
    padding:0px 5px;
    border:1px solid #1B75A0;
    text-decoration: none;
    margin: 0px 3px;
}

.footer_right a{
    text-decoration: none;
}

.footer_right a:hover{
    text-decoration: underline;
}

.home_bottom_section .fullRow a, .home_bottom_section .fullRow a{
    width: 100%;
    float: left;
    text-align: left;
    text-decoration: none;
}

.home_bottom_section .fullRow a:hover{
    text-decoration: underline;
}

.our_classes1 .heading_our_classes, .our_classes1 p{
    width:100%;
    float:left;
}

.our_classes1 p{
    margin:5px 0px;
}


.our_classes1 p .cls_lbl{
    width:80px;
    float:left;
    text-align: left;
}
.our_classes1 p .cls_cln{
    width:10px;
    float:left;
    text-align: left;
}
.our_classes1 p .cls_val{
    width:500px;
    float:left;
    text-align: left;
}
.menu-footer_menu-container,.menu-footer_menu-container #menu-footer_menu{
    float:left;
    width:400px;
    margin:4px 0px 0px 0px;
}
.menu-footer_menu-container ul li{
    float:left;
    list-style: inside;
    list-style-type: none;
    text-align: left;
    border-right:2px solid;
}

.menu-footer_menu-container ul li:last-child{
    border-right:none;
    padding-left:5px;
}

.current-menu-item a{
    color:#1B75A0 !important;
}